<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functions</title>
</head>
<body>
<div>
    {{range .Works}}
        {{uc .Title}}
    {{end}}
</div>
<div>
    {{range .Works}}
        {{ft .Title}}
    {{end}}
</div>
</body>
</html>
