<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, Rila!</title>
</head>
<body>
{{/*here we are passing in whatever the data is at that point in execution */}}
<h1>The meaning of life: {{.}}</h1>
</body>
</html>